{{ define "main" }}
<div class="mw8 center ph3">
  {{ partial "breadcrumb.html" . }}
  <article class="pb6">
    {{ partial "debug-info.html" . }}

    <div class="lh-copy">
      <div class="flex flex-wrap">
        <div class="w-100 w-60-ns pr4-ns mb4">
          {{ .Content }}

          {{/* Additional information from allowed editors */}}
          {{ partial "from-editors.html" . }}
        </div>

        <div class="w-100 w-40-ns pl4-ns mb4">
          {{ partial "term-sidebar.html" (dict "Site" .Site "Data" .Data "paramName" "venues") }}
        </div>
      </div>
    </div>
  </article>
</div>
{{ end }}
