{{ define "main" }}
<div class="mw8 center ph3">
  {{ partial "breadcrumb.html" . }}
  <article class="pb6">
    {{ partial "debug-info.html" . }}

    <div class="lh-copy">
      <div class="flex flex-wrap">
        <div class="w-100 w-60-ns pr4-ns mb4">
          {{ .Content }}

          {{/* Additional information from allowed editors */}}
          {{ partial "from-editors.html" . }}
        </div>

        <div class="w-100 w-40-ns pl4-ns mb4">
          {{/* Events Section */}}
          <h2 class="f4 fw6">Upcoming Events</h2>
          {{ $events := where (where .Site.RegularPages "Type" "events") "Params.venues" "intersect" (slice .Data.Term) }}
          {{ $upcomingEvents := where $events "Params.eventStart" "ge" now }}
          {{ $sortedEvents := sort $upcomingEvents "Params.eventStart" "asc" }}

          {{ if $sortedEvents }}
            <ul class="list pl0">
              {{ range $sortedEvents }}
                <li class="mb3">
                  <a href="{{ .RelPermalink }}" class="link blue hover-dark-blue">
                    <span class="db f5">{{ .Title }}</span>
                    <span class="db f6 gray">
                      {{ with .Params.eventStart }}
                        {{ dateFormat "Monday, January 2, 2006" . }}
                        {{ with time.Format ":04 PM" . }}
                          at {{ . }}
                        {{ end }}
                      {{ end }}
                    </span>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ else }}
            <p class="i gray">No upcoming events</p>
          {{ end }}

          {{/* Past Events Section */}}
          {{ $pastEvents := where $events "Params.eventStart" "lt" now }}
          {{ $recentPastEvents := first 3 (sort $pastEvents "Params.eventStart" "desc") }}
          {{ if $recentPastEvents }}
            <h2 class="f4 fw6 mt5">Recent Events</h2>
            <ul class="list pl0">
              {{ range $recentPastEvents }}
                <li class="mb3">
                  <a href="{{ .RelPermalink }}" class="link blue hover-dark-blue">
                    <span class="db f5">{{ .Title }}</span>
                    <span class="db f6 gray">
                      {{ with .Params.eventStart }}
                        {{ dateFormat "Monday, January 2, 2006" . }}
                      {{ end }}
                    </span>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    </div>
  </article>
</div>
{{ end }}
