{{ define "main" }}
<div class="ph3 bg-off-white">
    <div class="center mw7 pv3">
        <div class="cms mw6">
            {{ .Content }}
        </div>

        <div class="flex-ns flex-wrap mhn2-ns mb3">
            {{ range .Site.Taxonomies.organisers }}
            <div class="ph2-ns w-50-ns mb4">
                <h2 class="f3 b lh-title mb2">{{ .Page.Title }}</h2>
                <a href="/admin/{{ .Page.File.ContentBaseName }}" class="btn raise">Manage Content</a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
