<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex flex-column flex-row-l items-center justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="mb3 mb0-l w-100 tc tl-l">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w-40 w-100-ns mw6 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="list ma0 pa0 flex">
          {{ range .Site.Menus.main }}
          <li class="f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "mh1" "mh1" }}">
            <a class="hover-white no-underline white-90 pv1 ph2 db" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social/follow.html" . }}
    </div>
  </div>
</nav>
